{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> We're a bunch of enthusiastic people who are trying to change the way people view education as - monopoly of money.</p>
        <a href="https://github.com/anuran-roy/fossbook"
           class="btn btn-danger">View the project Source code!</a>
    </div>
</div>
</div>

{% endblock sidebar %}